* {
	margin: 0;
	padding: 0; 
	font-family:Arial; 
	font-size:11pt;
	letter-spacing:0px;
}
body{
	background-color:#fff;
}
.logo{
	color: #0166CC;
	font-family:Arial;
	margin-top:-10px;
	margin-bottom:30px;
}
.formulario{
	color: #666;
	width: 500px; 
	margin: 0 auto;
	margin-top:40px;

}
.carousel{
	margin-top:40px;
}
.sidebar-nav > .sidebar-brand a {
    color: #ccc;
	border-bottom:1px solid #F0F0F0;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ccc;
}
.sidebar-nav > .sidebar-brand a:hover{
	color:#ccc;
}
.sidebar-nav li a:hover{
	color:#ccc;
	background-color: #F3F3F3;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

#logo-menu{
	font-size:19px;
}
#sidebar-wrapper{
	background-color:#FFF;
	border-right:1px solid #F0F0F0;
	box-shadow: 1px 1px 5px #888888;
}
#sidebar-wrapper:hover{
	

}
#legenda-login{
	font-family:Arial;
	font-size:19px;
	color: #666;
	font-weight:bold;
}

#divCenter { 
	color: #666;
	width: 300px; 
	height: 150px; 
	left: 50%; 
	margin: -130px 0 0 -150px; 
	padding:10px;
	position: absolute; 
	top: 50%; 
	
}
#formLogin{
	padding:20px;
	margin: -10px;
	border:1px solid #ccc;
}
.btn-default {
    color: #666;
    background-color: #fff;
    border-color: #ccc;
}
